/* 页面基础样式 */
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  overflow: hidden;
  font-family: 'HYZiDianSongJW00-Regular', sans-serif;
  cursor: default;
}

/* 防止 canvas 被缩放 */
canvas {
  display: block;
}